#bodyone
{
	background: blue;
}
.login_div1 
	{
		background: red;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
    .login_div2
	{
		background: red;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}
